@model UserModel
    <link href="~/css/MainMenuStyle.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "MainMenu";
}
<div class="userinfobox">
    <form asp-action="EditUserInfo" method="post">
        <label asp-for="FavFood">Любимая еда: @ViewBag.FavFood</label>
        <div class="input-group-text">
            <input type="text" asp-for="FavFood" placeholder="">
        </div>
        <span asp-validation-for="FavFood"></span>
        <br>
        <label asp-for="Credentials">ФИО: @ViewBag.Credentials</label>
        <div class="input-group-text">
            <input type="text" asp-for="Credentials" placeholder="">
        </div>
        <span asp-validation-for="Credentials"></span>
        <br>
        <label asp-for="Age">Возраст: @ViewBag.Age</label>
        <div class="input-group-text">
            <input type="text" asp-for="Age" placeholder="">
        </div>
        <span asp-validation-for="Age"></span>
        <br>
        <label asp-for="Pet">Любимый питомец: @ViewBag.Pet</label>
        <div class="input-group-text">
            <input type="text" asp-for="Pet" placeholder="">
        </div>
        <span asp-validation-for="Pet"></span>
        <br>
        <button type="submit" class="btn btn-primary" asp-controller="MainMenu" asp-action="EditUserInfo">Изменить</button>
    </form>
    <form asp-action="DeleteUserInfo" method="post">
        <button type="submit" class="btn btn-primary" asp-controller="MainMenu" asp-action="DeleteUserInfo">Удалить данные</button>
    </form>
</div>
<h1>Корзина</h1>
<table class="table table-striped">
    <tr>
        <td>Товар</td>
        <td>Цена</td>
        <td>Ссылка</td>
        <td></td>
    </tr>
    <tr>
        <td>Салфетки влажные Zewa 100шт.</td>
        <td>99.9</td>
        <td></td>
    </tr>
    <tr>
        <td>Салфетки влажные Zewa 100шт.</td>
        <td>99.9</td>
        <td></td>
    </tr>
    <tr>
        <td>Салфетки влажные Zewa 100шт.</td>
        <td>99.9</td>
        <td></td>
    </tr>
    <tr>
        <td>Салфетки влажные Zewa 100шт.</td>
        <td>99.9</td>
        <td></td>
    </tr>
</table>

<div class="checkBox">
    <p><input type="checkbox" name="consentCheckbox">Я согласен с <a asp-area="" asp-controller="Welcome" asp-action="Privacy">политикой конфеденциальности</a> данного сайта</p>
    <form>
        <button type="submit" class="btn btn-primary" asp-controller="Welcome" asp-action="Login">Оформить заказ</button>
    </form>
    </div>
