
@{
    ViewData["Title"] = "Register";
}
@model RegisterModel
<link href="~/css/LoginStyle.css" rel="stylesheet" type="text/css" />
<h1>Страница регистрации</h1>

<div class="logincontainer">

    <form asp-action="register" method="post">
        <label asp-for="Login">Имя пользователя (логин):</label>
        <input type="text" asp-for="Login" placeholder="Введите имя пользователя">
        <span asp-validation-for="Login"></span><br>
        <label asp-for="Email">E-mail: </label>
        <input type="text" asp-for="Email" placeholder="E-mail">
        <span asp-validation-for="Email"></span><br>
        <label asp-for="Password">Пароль: </label>
        <input type="password" asp-for="Password" placeholder="Пароль">
        <span asp-validation-for="Password"></span><br>
        <label>Вы преподаватель?</label>
        <select asp-for="Role">
            <option>Преподаватель</option>
            <option>Студент</option>
        </select>
        <button type="submit" class="btn btn-primary" asp-controller="Welcome" asp-action="Register">Подтвердить</button><br>
    </form>
</div>
<p align="right"><a asp-action="Login" asp-controller="Welcome">Обратно к странице входа</a></p>